<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 3</title>
</head>


<body>

    <header>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="./Quienes_Somos.html">Quienes_Somos</a>
                    </li>
                    <li>
                        <a href="./Nuestros_Trabajos.html">Nuestros trabajos</a>
                    </li>
                    <li>
                        <a href="./Contacto.html">Contactos</a>
                    </li>                
                </ul>
            </div>
        </nav>
    </header>

<main>
    <section>

<h1> Contacto </h1>
                        <fieldset>
                            <legend>Completar</legend>
                                <label> Nombre:</label>
                                    <input type="text" name="nombre"><br>
                                <label for="apellido"> Apellido:</label>
                                    <input type="text" name="apellido"><br>
                                <label for="mail"> Correo:</label>
                                    <input type="email" name="mail"><br>
                        </fieldset>
    </section>
    <br>
    <footer>copyright 2022 - diseño y desarrollo - Bartoletti Alesis </footer>

</main>


</body>


</html>