<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 3</title>
</head>


<body>

    <header>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="./Quienes_Somos.html">Quienes_Somos</a>
                    </li>
                    <li>
                        <a href="./Nuestros_Trabajos.html">Nuestros trabajos</a>
                    </li>
                    <li>
                        <a href="./Contacto.html">Contactos</a>
                    </li>                
                </ul>
            </div>
        </nav>
    </header>
<main>
    <section>
        <section>
            <h1> Galeria </h1>
            <img src="/img/1.jpeg" alt="MATE1">
            <img src="/img/2.jpeg" alt="MATE2">
            <img src="/img/3.jpeg" alt="MATE3">
            <img src="/img/4.jpeg" alt="MATE4">
            <img src="/img/5.jpeg" alt="MATE5">
    
           
    
        </section>


    </section>
    <br>
    <footer>copyright 2022 - diseño y desarrollo - Bartoletti Alesis </footer>

</main>


</body>


</html>