<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 3</title>
</head>


<body>

    <header>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="./Quienes_Somos.html">Quienes_Somos</a>
                    </li>
                    <li>
                        <a href="./Nuestros_Trabajos.html">Nuestros trabajos</a>
                    </li>
                    <li>
                        <a href="./Contacto.html">Contactos</a>
                    </li>                
                </ul>
            </div>
        </nav>
    </header>

<main>
    <section>

<h1>Nuestra Historia</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt hic, reprehenderit quidem delectus expedita vero quod ipsa aut? Rerum aliquam hic repudiandae! Incidunt voluptas asperiores modi! Iusto nesciunt nihil commodi!</p>


<h2>DONDE ESTAMOS</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26273.143896523034!2d-58.53074225217252!3d-34.600545649442346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7d17aecb4c5%3A0x2ec18aeefab8400!2sVilla%20Devoto%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1647922706053!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </section>
    <br>
    <footer>copyright 2022 - diseño y desarrollo - Bartoletti Alesis </footer>

</main>


</body>


</html>